# AWS Cognito Configuration
NEXT_PUBLIC_COGNITO_AUTHORITY=https://cognito-idp.ap-south-1.amazonaws.com/ap-south-1_KAyuLakQ6
NEXT_PUBLIC_COGNITO_CLIENT_ID=79go35q1c7n3cgcpjimu7koet6
NEXT_PUBLIC_COGNITO_DOMAIN=https://ap-south-1kayulakq6.auth.ap-south-1.amazoncognito.com

# App Configuration
NEXT_PUBLIC_BASE_URL=http://localhost:3000
NEXT_PUBLIC_API_URL=http://localhost:8080
NEXT_PUBLIC_REDIRECT_URI=http://localhost:3000/auth/callback
NEXT_PUBLIC_POST_LOGOUT_REDIRECT_URI=http://localhost:3000
